{{>partials/header}}

  <div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Selecione seu tipo de veículo</h3>

                       <div class="col-md-12">
                         <div class="dropdown mt-3">
                          <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecione...
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/carro">Carro</a>
                            <a class="dropdown-item" href="/moto">Moto</a>
                          </div>
                        </div>
                       </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{{>partials/footer}}